<div class="maincontainer">
    <div class="introductiondiv">
        <!-- <img class="aboutme" src="../../assets/aboutme.png" /> -->
        <h1 class="aboutme">About me</h1>
    </div>
    <div class="contentdiv">
        <div class="pwrapper">
            <h2 class="heading">Who am I?</h2>
            <p class="ptext">
                My name is Berkley Horan and I have always been infatuated with how computers operate and handle data. 
                It has always been a hobby for me. From Scratch all the way to C++, 
                I have always been exposed to computer programming and computer science ever sice I was a little boy.
            </p>
        </div>
        <div class="pwrapper">
            <h2 class="heading">What are my hobbies?</h2>
            <p class="ptext">
                Some of my hobbies are painting and Art. I love to jot down my ideas with a sketch or even a colored picture.
                Also, I love skateboarding, it is super fun and a good source of exercise.
                I have taken up Music as well. I am very familiar with Fl studio and create music and sounds on the daily.
            </p>
        </div>
        <!-- <div class="pwrapper">
            <h2 class="heading">Why hire me?</h2>
            <p class="ptext">
                Whenever I work I hate wasting time, 
                in order to feel accomplished I need to finish a task. 
                I strive to find the most efficent way to write code, 
                I try to teach myself efficent methods of programming, such as built in methods or even a certain 
            </p>
        </div> -->
    </div>
    <div class="footer">
        <div class="footelem">
            
            <a href="https://www.reddit.com/submit"><i class="fab fa-reddit icon"></i></a>
            <a href="https://twitter.com/berkley_horan"><i class="fab fa-twitter icon"></i></a>
            <a href="https://github.com/berkleyhoran"><i class="fab fa-github icon"></i></a>
            <a href="https://www.linkedin.com/in/berkley-horan-6b1a18169/"><i class="fab fa-linkedin-in icon"></i></a>
            
        </div>
    </div>
</div>
