<div class="maincontainer">
    <div class="introductiondiv">
        <!-- <img class="aboutme" src="../../assets/aboutme.png" /> -->
        <h1 class="aboutme">About me</h1>
    </div>
    <div class="contentdiv">
        <div class="pwrapper">
            <h2 class="heading">Who am I?</h2>
            <p class="ptext">
                My name is Berkley Horan and I have always been infatuated with how computers operate and handle data. 
                It has always been a hobby for me. From Scratch all the way to C++, 
                I have always been exposed to computer programming and computer science ever sice I was a little boy.
            </p>
        </div>
        <div class="pwrapper">
            <h2 class="heading">What are my hobbies?</h2>
            <p class="ptext">
                Some of my hobbies are painting and Art. I love to jot down my ideas with a sketch or even a colored picture.
                Also, I love skateboarding, it is super fun and a good source of exercise.
                I have taken up Music as well. I am very familiar with Fl studio and create music and sounds on the daily.
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="footelem">
            <i class="fab fa-github icon"></i>
            <i class="fab fa-reddit icon"></i>
            <i class="fab fa-pinterest icon"></i>
            <i class="fab fa-twitter icon"></i>
            <i class="fab fa-linkedin-in icon"></i>
        </div>
    </div>
</div>
