<nav class="navbar">
  
    <div class="navelem">
    <a routerLink="/index">
      <div class="logobutton">
          <img class="logo" src='../../assets/logo.png'>
      </div>
    </a>
    </div>
 
  <div class="navelem">
  <a routerLink="/programming">
    <div class="button programming">
        Programming
    </div>
  </a>
  </div>
  
  <div class="navelem">
  <a routerLink="/experience">
      <div class="button experience">
        Experience
      </div>
    </a>
  </div>
  
  <div class="navelem">
  <a routerLink="/contact">
    <div class="button contact">
        Contact
    </div>
  </a>
  </div>

  <div class="spacer"></div>
  
  <div class="navelem">
    <a href="https://github.com/berkleyhoran">
      <i class="fab fa-github icon"></i>
  </a>
  </div>
  <div class="navelem">
  <a href="https://www.linkedin.com/in/berkley-horan-6b1a18169/">
      <i class="fab fa-linkedin-in icon"></i>
  </a>
  </div>
</nav>