@import url('https://fonts.googleapis.com/css?family=Montserrat');
.introductiondiv{
    background-color:#4C9CF3;
    width:100%;
    height:350px;
    padding-top:100px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url('../../assets/experience.png');
    background-size: cover;
    background-position: 0px;
    
}
.contentdiv{
    width:70%;
    background-color:#303030;
    padding-left:15%;
    padding-right:15%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.experience{
    font-size:20px;
    margin:5px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.pwrapper{
    background-color:#262626;
    padding: 20px 20px 20px 20px;
    display:flex;
    justify-content: center;
    align-items: space-between;
    flex-flow: column;
    border-radius:5px;

}

.aboutme{
    width:1000px;
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    font-size:80px;
    text-align: center;
    color:white;

}
.footer{
    width: 100%;
    background-image: url('../../assets/experience.png');
    height:150px;
    background-size: cover;
    display:flex;
    justify-content: flex-end;
    padding-top:10px;
    padding-right:15%;
    box-sizing: border-box;
}
.icon{
    font-size:30px;
    color:#303030;
    margin:5px;
    margin-right:25px;
    margin-left:25px;
}

.heading{
    color: #4C9CF3;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}