<div class="maincontainer">
    <div class="introductiondiv">
        <!-- <img class="aboutme" src="../../assets/aboutme.png" /> -->
        <h1 class="aboutme">PAGE NOT FOUND</h1>
    </div>
    <div class="contentdiv">
        <div class="pwrapper">
            <p class="ptext">RETURN TO HOME</p>
        </div>
    </div>
    <div class="footer">
        <div class="footelem">
            
            <a href="https://www.reddit.com/submit"><i class="fab fa-reddit icon"></i></a>
            <a href="https://twitter.com/berkley_horan"><i class="fab fa-twitter icon"></i></a>
            <a href="https://github.com/berkleyhoran"><i class="fab fa-github icon"></i></a>
            <a href="https://www.linkedin.com/in/berkley-horan-6b1a18169/"><i class="fab fa-linkedin-in icon"></i></a>
            
        </div>
    </div>
</div>