<div class="maincontainer">
    <div class="introductiondiv">
        <!-- <img class="aboutme" src="../../assets/aboutme.png" /> -->
        <h1 class="aboutme">Contact</h1>
    </div>
    <div class="contentdiv">
        <div class="pwrapper">
            <p class="ptext">horans11@gmail.com</p>
            <p class="ptext">469-667-9233</p>
        </div>
    </div>
    <div class="footer">
        <div class="footelem">
            <i class="fab fa-github icon"></i>
            <i class="fab fa-reddit icon"></i>
            <i class="fab fa-pinterest icon"></i>
            <i class="fab fa-twitter icon"></i>
            <i class="fab fa-linkedin-in icon"></i>
        </div>
    </div>
</div>
